apiVersion: machinelearning.seldon.io/v1
kind: SeldonDeployment
metadata:
  name: fraudguard
  namespace: fraudguard
spec:
  protocol: seldon
  predictors:
    - name: default
      replicas: 1
      graph:
        name: fraudguard-model
        implementation: SKLEARN_SERVER
        modelUri: s3://fraudguard-models/production
