apiVersion: machinelearning.seldon.io/v1
kind: SeldonDeployment
metadata:
  name: fraudguard
  namespace: fraudguard
spec:
  protocol: seldon
  transport: rest
  predictors:

  - name: model-a
    replicas: 1
    traffic: 90
    graph:
      name: classifier
      implementation: SKLEARN_SERVER
      modelUri: s3://fraudguard-models/stable
    componentSpecs:
    - spec:
        containers:
        - name: classifier
          env:
          - name: AWS_REGION
            value: us-east-1
          - name: AWS_DEFAULT_REGION
            value: us-east-1

  - name: model-b
    replicas: 1
    traffic: 10
    graph:
      name: classifier
      implementation: SKLEARN_SERVER
      modelUri: s3://fraudguard-models/canary
    componentSpecs:
    - spec:
        containers:
        - name: classifier
          env:
          - name: AWS_REGION
            value: us-east-1
          - name: AWS_DEFAULT_REGION
            value: us-east-1
