name: FraudGuard Full CI-CD Pipeline

on:
  push:
    branches:
      - main
      - develop

  workflow_dispatch:

  workflow_run:
    workflows: ["FraudGuard Model Training"]
    types:
      - completed

env:
  AWS_REGION: us-east-1
  ECR_REGISTRY: 199964507152.dkr.ecr.us-east-1.amazonaws.com
  CLUSTER_NAME: fraudguard-eks
  NAMESPACE: fraudguard


  MLFLOW_TRACKING_URI: https://dagshub.com/akashagalaveaaa1/fraudguard-ai.mlflow
  MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_TOKEN }}
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
  DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

 
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"


      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .
          pip install mlflow dagshub dvc[s3]
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}


      - name: DVC Pull Artifacts
        run: dvc pull

      - name: Validate Model Quality
        run: python scripts/model_quality_check.py

      - name: Promote Model to Production
        run: python scripts/promote_model.py


      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2


      - name: Build & Push FastAPI
        run: |
          docker build -t fraudguard-fastapi -f serving/Dockerfile .
          docker tag fraudguard-fastapi $ECR_REGISTRY/fraudguard-fastapi:latest
          docker push $ECR_REGISTRY/fraudguard-fastapi:latest

      - name: Build & Push Kafka Producer
        run: |
          docker build -t fraudguard-producer -f services/producer/Dockerfile .
          docker tag fraudguard-producer $ECR_REGISTRY/fraudguard-producer:latest
          docker push $ECR_REGISTRY/fraudguard-producer:latest

      - name: Build & Push Kafka Consumer
        run: |
          docker build -t fraudguard-consumer -f services/consumer/Dockerfile .
          docker tag fraudguard-consumer $ECR_REGISTRY/fraudguard-consumer:latest
          docker push $ECR_REGISTRY/fraudguard-consumer:latest


      - name: Configure kubectl
        run: |
          aws eks update-kubeconfig \
            --region $AWS_REGION \
            --name $CLUSTER_NAME


      - name: Deploy Redis
        run: kubectl apply -f infrastructure/kubernetes/redis/redis.yaml

      - name: Deploy Kafka
        run: |
          kubectl apply -f infrastructure/kubernetes/kafka/kafka-nodepool.yaml
          kubectl apply -f infrastructure/kubernetes/kafka/kafka-cluster.yaml
          kubectl apply -f infrastructure/kubernetes/kafka/kafka-topic.yaml
          kubectl apply -f infrastructure/kubernetes/kafka/kafka-topic-alerts.yaml


      - name: Deploy Stable FastAPI
        run: |
          kubectl apply -f infrastructure/kubernetes/canary/fastapi-stable-deployment.yaml
          kubectl apply -f infrastructure/kubernetes/canary/fastapi-stable-service.yaml
          kubectl apply -f infrastructure/kubernetes/canary/ingress-stable.yaml


      - name: Deploy Workers
        run: |
          kubectl apply -f services/alert-worker/deployment.yaml
          kubectl apply -f services/alert-worker/service.yaml
          kubectl apply -f services/shap-worker/deployment.yaml

      - name: Apply ServiceMonitors
        run: |
          kubectl apply -f infrastructure/kubernetes/monitoring/alert-worker-servicemonitor.yaml
          kubectl apply -f infrastructure/kubernetes/monitoring/servicemonitor.yaml

      - name: Canary Deployment (Manual Approval)
        if: github.event_name == 'workflow_dispatch'
        run: |
          echo " Deploying Canary (A/B testing 10% traffic)"
          kubectl apply -f infrastructure/kubernetes/canary/fastapi-canary-deployment.yaml
          kubectl apply -f infrastructure/kubernetes/canary/fastapi-canary-service.yaml
          kubectl apply -f infrastructure/kubernetes/canary/ingress-canary.yaml
