name: FraudGuard Model Training

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 0"

jobs:
  train:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1
      DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
      MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r dev-requirements.txt
          pip install -e .

      - name: Configure AWS (DVC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Train model
        run: |
          dvc pull
          dvc repro
          dvc push
